.header {
  background-color: rgba(54, 54, 54, 0.164);
  position: absolute;
  right: 0px;
  left: 0px;
  padding: 0px 30px;
  transition-duration: 0.5s;
  display: flex;
  flex-direction: row;
}

.header:hover {
  filter: brightness(2);
}

